
<header class="py-3  border-bottom bg-white">
    <div class="container">
       <nav class="d-flex justify-content-center">
            <ul class="nav nav-pills text-center">
                <li class="nav-item"><a (click)="changeMenu('recipy')" class="nav-link" aria-current="page">Recipy</a></li>
                <li class="nav-item"><a (click)="changeMenu('ingredient')" class="nav-link">Ingredient</a></li>
                <!-- <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
                <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
                <li class="nav-item"><a href="#" class="nav-link">About</a></li> -->
            </ul>
        </nav>
    </div>
</header>
