<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Ingredient List</div>
            <div class="card-body">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>SL</th>
                            <th>Name</th>
                            <th>Price</th>
                        </tr>
                  
                    </thead>
                    <tbody>
                        
                        <tr *ngFor="let ingredient of ingredients; index as i">
                            <td>{{i+1}}</td>
                            <td>{{ingredient.name}}</td>
                            <td>{{ingredient.amount}}</td>
                        </tr>
                     </tbody>
                </table>
            </div>
        </div>
       
    </div>
    <div class="col-md-6">
        <app-shopping-list-edit (ingredientAdded)="onAddedIngredient($event)"></app-shopping-list-edit>

    </div>
</div>